
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";


}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!--Chỗ để ảnh-->
                            <img class="col-lg-6 d-none d-lg-block bg-login-image" src="~/Content/Client/img/Thank.gif">

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng!</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input name="Username" value=@ViewBag.Username type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nhập tên tài khoản">
                                        </div>
                                        <div class="form-group">
                                            <input name="Password" value=@ViewBag.Password type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input name="CheckRemember" checked=@ViewBag.Check value="true" type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Nhớ mật khẩu?</label>
                                            </div>
                                        </div>
                                        <div>
                                            <span style="color:red">@ViewBag.Message</span>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        @Html.ActionLink("Quên mật khẩu", "Register", "Home", "", new { @class = "small" })
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Tạo tài khoản", "Register", "Home", "", new { @class = "small" })
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Back", "Index", "Home", "", new { @class = "fas fa-sign-out-alt  " })
                                    </div>
                                  
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
